/***** Globals *****/

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style-type: none;
}
body {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to right,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

/***** Navbar *****/

nav {
  width: 80%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  z-index: 1;
  color: #fff;
  text-align: right;
}

nav ul {
  flex: 1;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}
nav ul li ul li {
  margin-right: -10px;
}
nav ul li ul li img {
  width: 30px;
  margin-bottom: -5px;
}

/***** CONTROLS *****/
/* The base of the spinning circle it comes from: https://www.youtube.com/watch?v=zxfhf-V4JFQ&list=PLoh7ONxrTlo7YeOuUaVxnzpWvs5vHd7Nw&index=1*/
.controls {
  position: absolute;
  width: 12%;
  height: 1000px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 1;
  background-color: black;
}
.controls div {
  position: absolute;
  transform: translateY(50%);
}
.controls li {
  height: 30px;
  padding: 20px;
  color: white;
}

.controls h4 {
  margin: 15px 0;
}
#upBtn,
#downBtn {
  width: 25px;
  cursor: pointer;
}
#downBtn {
  transform: rotate(180deg);
}

/***** triangle effect *****/
.hidder_container {
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 48%;
  left: 8%;
  transform: translateY(-50%);
}
.hidder {
  width: 0;
  height: 0;
  border-top: 500px solid transparent;
  border-right: 500px solid transparent;
  border-bottom: 500px solid transparent;
  border-left: 500px solid black;
  position: relative;
}

/***** Circle in triangle*****/
#circle {
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: -500px;
  left: -1100px;
  border-radius: 20%;
  transform: rotate(0deg);
  transition: 1s;
}
.feature {
  display: flex;
  position: absolute;
  color: #fff;
}
.feature h2 {
  margin-left: 30px;
}

/* alienments in circle*/
.one {
  top: 450px;
  right: 50px;
}
.two {
  top: 150px;
  left: 350px;
  transform: rotate(-90deg);
}

.three {
  bottom: 450px;
  left: 50px;
  transform: rotate(-180deg);
}

.four {
  bottom: 150px;
  right: 350px;
  transform: rotate(-270deg);
}
/***** IMG Icon *****/

/* #imgAbout {
  filter: invert(96%) sepia(0%) saturate(0%) hue-rotate(111deg) brightness(104%)
    contrast(105%);
  width: 150px;
  position: relative;
  top: -100px;
  right: -40px;
} */
.imgIcon {
  filter: invert(96%) sepia(0%) saturate(0%) hue-rotate(111deg) brightness(104%)
    contrast(105%);
  width: 150px;
  position: relative;
  top: -100px;
  right: -40px;
}
.imgIcon.imgAbout {
  transform: scaleX(-1);
}

/***** section textPrincipal****/
section#textPrincipal {
  width: 60%;
  height: 1000px;
  transform: translate(35%, 20%);
  position: relative;
  color: white;
  font-size: 20px;
  margin-left: 300px;
}
/***** About me *****/
article#base {
  padding-top: 50px;
  text-align: center;
}
article#base p:not(:first-of-type) {
  padding-top: 70px;
}
/***** Projects *****/
article#projectsInfo {
  text-align: center;
}

/***** Education *****/

article#educationInfo p:not(:first-of-type) {
  padding-top: 30px;
}
.educationTitle {
  color: black;
}
.educatioDate {
  color: royalblue;
}
article#educationInfo p:nth-child(even) {
  font-size: 15px;
}
/***** Skills *****/
article#skillsInfo {
  display: flex;
  justify-content: center;
}

article#skillsInfo ul li:not(:first-of-type) {
  padding-top: 30px;
  width: 300px;
}
article#skillsInfo ul:not(:first-of-type) li:first-of-type {
  text-decoration: underline;
}
