/***** Globals *****/
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to right,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
/***** Cols from Bootstrap *****/
.col-md-2 {
  background-color: black;
  z-index: 1;
}

/***** Navbar *****/

nav {
  width: 80%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  z-index: 1;
  color: #fff;
  text-align: right;
}

nav ul {
  flex: 1;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}
nav ul li ul li {
  margin-right: -10px;
}
nav ul li ul li img {
  width: 30px;
  margin-bottom: -5px;
}

/***** CONTROLS *****/
/* Basic idea and formule for the rotation feature came from: https://www.youtube.com/watch?v=zxfhf-V4JFQ&list=PLoh7ONxrTlo7YeOuUaVxnzpWvs5vHd7Nw&index=1*/

.controls {
  height: 100%;
  width: 100%;
  background-color: black;
  list-style: none;
  color: white;
  text-align: center;
  padding: 0px 3px;
  margin-top: 20%;
}
.controls li {
  padding-top: 20%;
  height: 16%;
}
.controls li h3 {
  font-size: 100%;
}

#upBtn,
#downBtn {
  width: 20%;
  cursor: pointer;
}
#downBtn {
  transform: rotate(180deg);
}
/***** IMG Icon *****/

.imgIcon {
  filter: invert(96%) sepia(0%) saturate(0%) hue-rotate(111deg) brightness(104%)
    contrast(105%);
  width: 70px;
  opacity: 0;
}
.imgIcon#imgAbout {
  transform: scaleX(-1);
}

/***** triangle with icons*****/

.cube-triangle {
  border: 150px solid transparent;
  border-left: 150px solid black;
  position: relative;
  margin-left: -5%;
  top: calc(50% - 100px);
  clip-path: polygon(50% 50%, 0 0, 0 100%);
}

/***** Circle with icons in triangle*****/
#circle {
  position: absolute;
  top: -70px;
  left: -150px;
  transform: rotate(0deg);
  transition: 1s;
}

h2.translate {
  font-size: 10px;
  color: #fff;
  display: flex;
  position: absolute;
  top: 110px;
  left: 20px;
  width: 50px;
}
#imgAbout {
  opacity: 1;
}
/* individual alienments in circle*/

.feature {
  display: flex;
  position: absolute;
  color: #fff;
  text-align: center;
}
/* note: the class "one" is was not longer needed as it's position is the default position. It was erased from the hml aswell */
.two {
  top: -115px;
  left: 20px;
  transform: rotate(-90deg);
}
.two img {
  width: 80px;
}
.two h2 {
  top: 140px;
}

.three {
  top: -120px;
  right: 15px;
  transform: rotate(-180deg);
}
.three h2 {
  left: 1px;
}

.four {
  top: -5px;
  right: 20px;
  transform: rotate(-270deg);
}

/***** section textPrincipal****/
section#textPrincipal {
  width: 60%;
  height: 1000px;
  transform: translate(35%, 20%);
  position: relative;
  color: white;
  font-size: 20px;
  margin-left: 300px;
}
/***** About me *****/
article#base {
  padding-top: 50px;
  text-align: center;
}
article#base p:not(:first-of-type) {
  padding-top: 70px;
}
/***** Projects *****/
article#projectsInfo {
  text-align: center;
}

/***** Education *****/

article#educationInfo p:not(:first-of-type) {
  padding-top: 30px;
}
.educationTitle {
  color: black;
}
.educatioDate {
  color: royalblue;
}
article#educationInfo p:nth-child(even) {
  font-size: 15px;
}
/***** Skills *****/
article#skillsInfo {
  display: flex;
  justify-content: center;
}

article#skillsInfo ul li:not(:first-of-type) {
  padding-top: 30px;
  width: 300px;
}
article#skillsInfo ul:not(:first-of-type) li:first-of-type {
  text-decoration: underline;
}
