/***** Globals *****/
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(32, 105, 101, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
/***** Cols from Bootstrap *****/
.col-md-2:first-of-type {
  background-color: black;
  z-index: 1;
}

/***** Navbar *****/

nav{
  width: 100%;
  margin: 20px -20px;
  display: flex;
  align-items: center;
  color: #fff;
  text-align: right;
}
nav a {
  color:#fff
}

nav ul {
  flex: 1;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}
nav ul li ul li {
  margin-right: -10px;
}
nav ul li ul li img {
  width: 30px;
  margin-bottom: -5px;
}

/***** CONTROLS *****/
/* Basic idea and formule for the rotation feature came from: https://www.youtube.com/watch?v=zxfhf-V4JFQ&list=PLoh7ONxrTlo7YeOuUaVxnzpWvs5vHd7Nw&index=1*/

.controls {
  height: 100%;
  width: 100%;
  background-color: black;
  list-style: none;
  color: white;
  text-align: center;
  padding: 0px 3px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.controls li {
  padding-top: 20%;
  height: 16%;
}
.controls li h3 {
  font-size: 100%;
}

#upBtn,
#downBtn {
  width: 20%;
  cursor: pointer;
}
#downBtn {
  transform: rotate(180deg);
}
/***** IMG Icon (triangle) *****/

.imgIcon {
  filter: invert(96%) sepia(0%) saturate(0%) hue-rotate(111deg) brightness(104%)
    contrast(105%);
  width: 70px;
  opacity: 0;
}
.imgIcon#imgAbout {
  transform: scaleX(-1);
}

/***** triangle with icons*****/

.cube-triangle {
  border: 150px solid transparent;
  border-left: 150px solid black;
  position: relative;
  margin-left: -5%;
  top: calc(50% - 100px);
  clip-path: polygon(50% 50%, 0 0, 0 100%);
}

/***** Circle with icons in triangle*****/
#circle {
  position: absolute;
  top: -70px;
  left: -150px;
  transform: rotate(0deg);
  transition: 1s;
}

h2.translate {
  font-size: 10px;
  color: white;
  display: flex;
  position: absolute;
  top: 110px;
  left: 20px;
  /* width: 50px; */
}
#imgAbout {
  opacity: 1;
}
/* individual alienments in circle*/

.feature {
  display: flex;
  position: absolute;
  color: #fff;
  text-align: center;
}
/* note: the class "one" is was not like the others ('two, three...'), it became useless at some point and i just reused the name for a thing inside the same div */
.one {
  width: 50px;
}
.two {
  top: -115px;
  left: 20px;
  transform: rotate(-90deg);
}
.two img {
  width: 80px;
}
.two h2 {
  top: 140px;
}

.three {
  top: -120px;
  right: 15px;
  transform: rotate(-180deg);
}
.three h2 {
  left: 1px;
}

.four {
  top: -5px;
  right: 20px;
  transform: rotate(-270deg);
}

/***** section textPrincipal****/

section#textPrincipal {
  width: 100%;
  color: white;
  font-size: 20px;
  
}
/***** About me *****/

article#base {
  margin-top: 20%;
  
}
article#base p:not(:first-of-type) {
  padding-top: 5%;
}
/***** Projects *****/
article#projectsInfo {
  text-align: center;
}

article#projectsInfo img {
  width: 70%;
}

/***** Education *****/

article#educationInfo p:not(:first-of-type) {
  padding-top: 5%;
}
article#educationInfo {
  padding-left: 5%;
}
.educationLocation {
  font-size: 15px;
  font-style: italic;
}
.educatioDate {
  color: royalblue;
}
article#educationInfo p span {
  font-size: 20px;
}
/***** Skills *****/
article#skillsInfo {
  display: flex;
  justify-content: center;
}

article#skillsInfo ul li:not(:first-of-type) {
  padding-top: 30px;
  width: 300px;
}
article#skillsInfo ul li:first-of-type {
  text-decoration: underline;
  list-style: none;
  font-size: 22px;
}
/***** CV *****/


.triangle-right {
  width: 100%; 
  height: 90%; 
  border-top: 200px solid transparent;
  border-bottom: 200px solid transparent;
  border-left: 250px solid black;
  margin-left: 25%;
}
.centerTextRight{
  text-align: center;
  top: -390%;
  left: -130%;
  position: relative;
  color: white;
  
}
.cvMargins{
  margin-top: 15%;
  margin-bottom: 10%;
}

.flagCv{
  -webkit-clip-path: polygon(56% 47%, 0 0, 0 97%);
  clip-path: polygon(56% 47%, 0 0, 0 97%);
  opacity: 0.3;
  position: absolute;
  z-index: -1;
}

.textInFlag{
  margin-top: 50%;
  margin-left: 10%;
  
}
.textLink{
  color: #fff;
  font-weight: bold;
  z-index: 1;
}
.t:hover{
  background-image: url(uk.jpg);
  background-position: center;
  
}
.tf:hover{
  background-image: url(fr.png);
  background-position: center;
}
.ts:hover{
  background-image: url(spain.png);
  background-position: center;

}
.test{
  background-color: black;
  height: 150px;
  width: 90%;

  
}
.imgDetective{
  opacity: 1;
  width:35%;
  margin-top: -25%;
  /* margin-left: -30%; */
  /* background-color: rebeccapurple; */
  clip-path:inset(30% 30% 45% 50%);
}

